body {
    margin: 0px;
    padding: 0px;
    background: url(/assets/mke.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}
::selection {
    background-color: #81d8d0;
    color: unset;
}
button:focus {
    outline: transparent;
}
header {
    padding: .85%;
    padding-left: 12.5%;
    background-color: #81d8d0;
    font: 300 100% "inter", sans-serif;
}
header a {
    font-weight: 400;
    color: black;
}
.elements {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
h1 {
    margin: 0px;
    padding: 0px;
    font: 700 500% utopia-std-caption, serif;
    letter-spacing: 1.5px;
}
h2 {
    margin: 0px;
    padding: 0px;
    font: 500 115% "inter", sans-serif;
}
ul {
    word-spacing: 10px;
    margin: 0px;
    position: absolute;
    width: 100%;
    padding: 2%;
    padding-left: 12.5%;
    background-color: transparent;
    box-sizing: border-box;
    background-color: white;
}
li {
    display: inline;
}
ul a {
    font: 500 85% "inter", sans-serif;
    text-decoration: none;
    color: black;
}
footer {
    position: absolute;
    bottom: 0px;
    padding-bottom: 2%;
    padding-left: 12.5%;
    font: 500 100% "inter", sans-serif;
    color: rgba(255, 255, 255, 0.61);
}
b {
    font-weight: 600;
}
footer a {
    transition: .2s;
    color: rgba(255, 255, 255, 0.61);
    font-weight: 600;
    text-decoration: none;
}
footer a:hover {
    color: white;
}