body {
    margin: 0px;
    padding: 0px;
    background: #ffd000;
    margin: 0;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: .5s fade_in_content;
    opacity: 0%;
}
@keyframes fade_in_content{
    0% {opacity: 0%; margin-top: 25px;}
    100% {opacity: 100%; margin-top: 0px;}
}
::selection {
    background-color: unset;
    color: unset;
}
h1 {
    margin: 0px;
    padding: 0px;
    font: 500 200% "PT Mono", sans-serif;
}
h2 {
    margin: 0px;
    padding: 0px;
    font: 100 115% "Alata", sans-serif;
}
.social {
    transition: .2s;
    outline: none;
    border: none;
    display: inline;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 5%;
    opacity: 75%;
}
.social:hover {
    opacity: 65%;
}
.github {
    background-image: url(/assets/github.svg);
}
.email {
    background-image: url(/assets/email.svg);
}